.theme-color {
  color: rgb(58 174 176) !important;
}

.theme-bg {
  background-color: rgb(58 174 176) !important;
}

@media screen and (min-width: 1000px) {
  .content {
    margin-top: 190px;
  }
}
