.extra-navbar .row {
  justify-content: space-between;
}

.extra-navbar .nav-link .d-flex {
  align-items: center;
}

.extra-navbar-icons img {
  height: 50px;
}

.extra-navbar-text {
  padding-left: 5px;
  color: white;
}

.extra-navbar-text div {
  font-size: 11px;
}

.extra-navbar .extra-nav {
  background-color: white;
}

.extra-navbar .extra-nav .row {
  padding-left: 0;
}

.extra-navbar .extra-nav .row > * {
  padding-left: 0;
  padding-right: 0;
}

.extra-navbar .extra-nav .row a {
  font-size: 14.5px;
  color: black;
}

@media screen and (min-width: 1000px) {
  .extra-navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 86px;
  }

  .extra-navbar .row [class^="col-md"] {
    max-width: max-content;
  }
}

@media screen and (max-width: 1000px) {
  .extra-navbar .row {
    justify-content: left;
  }

  /* .extra-nav .row div {
    width: calc((100%)/3) !important;
    max-width: calc((100%)/3) !important;
    min-width: calc((100%)/3) !important;
  } */

  .extra-navbar .nav-link {
    padding: 5px;
  }
}

@media screen and (max-width: 400px) {
  .extra-navbar .row {
    justify-content: left;
  }

  /* .extra-nav .row div {
    width: calc((100%)/2) !important;
    max-width: calc((100%)/2) !important;
    min-width: calc((100%)/2) !important;
  } */
}
