.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 86px;
  max-height: 86px;
  min-height: 86px;
}

@media screen and (max-width: 768px) {
  .header {
    position: unset;
  }

  .header nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}
