.medicineCard {
    border-radius: 10px;
    margin-bottom: 15px;
}

.medicineDataLabel {
    padding: 15px;
}

.itemPrice {
    float: right;
    color: #f35477;
}

.itemDisease {
    background-color: rgb(242, 244, 247);
    padding: 5px;
    margin-right: 5px;
    border-radius: 2px;
    font-size: 12px;
}

.itemPrescriptionNeeded {
    background-color: rgb(184 234 235);
    color: rgb(58 174 176);
    padding: 5px;
    border-radius: 2px;
    font-size: 12px;
}

.itemManufacturer {
    text-transform: uppercase;
    font-size: 12px;
}

.itemQuantity {
    display: flex;
    padding: 0;
    margin: 0 20px 0 80px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid black;
}

.itemQuantity input{
    border: 0;
    padding: 0 10px;
    width: 65px;
}

.sideCard {
    height: 60vh;
    right: 0;
    bottom: 5%;
    margin: 0 auto;
    width: auto;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}