.medicine-card .row > * {
  padding-left: 0;
  padding-right: 0;
}

.medicine-card .item-manufacturer {
  padding-left: 0.75em;
}

@media only screen and (max-width: 1000px) {
  .medicine-card .cart-func-div {
    padding: 15px 15px;
  }

  .medicine-card .cart-func-div .item-quantity {
    margin: 0;
  }

  .medicine-card .cart-func-div .row > * {
    margin: 0 5px;
  }
}
