.logo {
    height: 60px;
    width: 200px;
}

.navbar .search-bar {
    justify-content: center;
}

.navbar .search-bar .form-outline {
    width: 70%;
    position: relative;
}

.navbar .searchInputNeighbor {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 0px;
    background-color: rgb(229, 231, 233);
}

.navbar .searchInputNeighbor:first-child {
    border-radius: 5px 0px 0px 5px;
}

.navbar .searchInputNeighbor:last-child {
    border-radius: 0px 5px 5px 0px;
}

.navbar .pincodeInputParent {
    font-size: 11px !important;
}

.navbar .pincodeInput {
    width: 60px;
}

.navbar #searchInput {
    border-radius: 0;
    height: 100%;
}

div.suggestions { 
    width: 100%;
    display: block; 
    top: 50px ;
}

div.suggestions > div {
    max-height: 150px;
    overflow-y: scroll;
}

div.suggestions > div > div{
    padding: 0 10px;
    cursor: pointer;
}

div.suggestions > div > div:hover{
    background-color: aliceblue;
}