.logo {
  height: 60px;
  width: 200px;
}

.navbar .search-bar {
  justify-content: center;
}

.navbar form {
  width: 60%;
  position: relative;
}

.navbar .search-input-neighbor {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 0px;
  background-color: rgb(229, 231, 233);
}

.navbar .search-input-neighbor:first-child {
  border-radius: 5px 0px 0px 5px;
}

.navbar .search-input-neighbor:last-child {
  border-radius: 0px 5px 5px 0px;
}

.navbar .pincode-input-parent {
  font-size: 11px !important;
}

.navbar .pincode-input {
  border: 0;
  background-color: rgb(229, 231, 233);
  width: 60px;
}

.navbar #search-input {
  border-radius: 0;
  height: 100%;
}

.navbar div.suggestions {
  width: 100%;
  display: block;
  top: 50px;
  z-index: 1030;
}

.navbar div.suggestions > div {
  max-height: 150px;
  overflow-y: scroll;
}

.navbar div.suggestions > div > div {
  padding: 0 10px;
  cursor: pointer;
}

.navbar div.suggestions > div > div:hover {
  background-color: aliceblue;
}

.navbar .checkout-cart-icon-parent {
  position: relative;
}

.navbar .cart-item-count {
  position: absolute;
  color: white;
  background-color: red;
  top: 40%;
  left: 50%;
  width: 20px;
  font-size: 12px;
  border-radius: 15px;
  text-align: center;
}

nav .navbar-nav {
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .logo {
    height: 60px;
    width: 100px;
  }

  .navbar form {
    width: 50%;
  }
}
